.contacts__info {
    .contacts__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;

        @media (max-width: 640px) {
            grid-template-columns: 1fr;
        }
    }

    .contacts__item {
        display: flex;
        align-items: center;

        .contacts_icon_box {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--color-background-secondary);
            border-radius: 50px;
            background-size: auto;
            height: 50px;
            width: 50px;

            .contacts_svg__item {
                height: 26px;
                margin: auto;
                margin-top: 12px;
                overflow: hidden;
                padding: 0 11.5px;
            }
        }

        .contacts__label {
            color: var(--color-on-primary);
            font-size: 26px;
            font-family: var(--teko-font);
        }

        .contacts__text {
            color: var(--color-text-body);
            font-size: 17px;
        }
    }
}