.contacts__map-form {
    padding: 0 15px;

    .contacts__map {
        position: relative;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        max-width: 288px;

        contacts__map-iframe {

            width: 100%;
            height: 573px;
            border: 0;
            display: block;

        }
    }

    .contacts__form-wrapper {
        display: grid;
        background-color: var(--color-background-tertiary);


        .contacts__form {
            height: 573px;
            width: 85%;
            align-items: center;

            .contacts__input {

                margin: 12px 0 0;
                padding: 21px 40px;
                background: var(--color-background-text);
                border-color: var(--color-background-form);

            }
        }
    }



}