@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600&display=swap');

/* header hero */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@492&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
    --background-secondary: url("../image/background-yellow.png");
    --background-primary: url("../image/background-brown.png");
    --color-primary: #FFC123;
    --color-on-primary: #FFFFFF;
    --color-secondary: #F5F5F5;
    --color-on-secondary: #333333;
    --color-background: #070403;
    --color-text: #333333;
    --color-text-secondary: #777777;
    --color-text-body: #9d9d9dfc;
    --color-slider-button: #dba620;
    --color-slider-button-hover: #ffc123;
    --color-background-secondary: #111111;
    --color-on-section-description: #CCCCCC;
    --teko-font: "Teko", sans-serif;
    --shadow-into-light-font: "Shadows Into Light", cursive;
    --open-sans-serif-font: "Open Sans", sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

button {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    padding: var(--button-padding);
    border-radius: var(--border-radius-button);
    font-size: var(--font-size-button);
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}

.section-title {
    font-family: var(--shadow-into-light-font);
    font-size: 14px;
    color: var(--color-primary);
    text-align: center;
    font-weight: 400;

    @media (min-width:768px) {
        font-size: 21px;
    }

    @media (min-width:992px) {
        font-size: 28px;
    }
}

.section-header {
    font-family: var(--teko-font);
    font-size: 40px;
    color: var(--color-on-primary);
    text-align: center;
    font-weight: 400;

    @media (min-width:768px) {
        font-size: 51px;
    }

    @media (min-width:992px) {
        font-size: 62px;
    }
}

.section-description {
    font-family: var(--open-sans-serif-font);
    font-size: 19px;
    color: var(--color-on-section-description);
    text-align: center;
    font-weight: 400;
}