 .container__fliet {
     background-color: #111111;
 }

 .container__header {
     max-width: 1170px;
     height: 116px;
     margin: auto;
 }


 .header__nav {
     padding: 39px 0px;
     background-color: #111111;
     display: flex;
     justify-content: space-between;
     align-items: center;

 }

 .header__logo {
     max-width: 183.9px;
     height: 39.86px;
 }

 .header__burger-menu {
     display: none;
 }

 .header__menu {
     margin: 0 10px 0 0;
     width: 67.8;
     font-weight: 400;
     display: flex;
     gap: 42px;
 }

 .header__menu-link {
     color: #cccccc;
     font-family: "Open Sans", sans-serif;
     font-size: 16px;
 }

 .header__contacts {
     display: flex;
     gap: 15px;
 }

 .border_2yy {
     fill: #FFC123;
 }

 .border_2yy:hover {
     fill: #111111;

 }


 .logo_2gS {
     fill: #FFC123;
 }

 .logo_2gS:hover {
     fill: #111111;

 }

 .header__contact-icon:hover {
     fill: #FFC123;
     transition: 0.5s;
 }

 .header__contact-icon:hover .logo_2gS {
     fill: #111111;
     transition: 0.5s;
 }


 .header__contact-link:hover {}

 .header__contact-item {}

 .header__contact-icon {}