@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import "./global.header-nav.css";
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
    --background-image-yellow: url("../image/background-yellow.png");
    --background-image-brown: url("../image/background-brown.png");
    --color-primary: #FFC123;
    --color-on-primary: #FFFFFF;
    --color-secondary: #F5F5F5;
    --color-on-secondary: #333333;
    --color-background: #070403;
    --color-text: #333333;
    --color-text-secondary: #777777;
    --color-text-grey: #9d9d9dfc;
    --color-slider-button: #dba620;
    --color-slider-button-hover: #ffc123;
    --color-background-black:  #000000;
    --teko-font: "Teko", sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

button {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    padding: var(--button-padding);
    border-radius: var(--border-radius-button);
    font-size: var(--font-size-button);
}