.footer__nav {
    background-color: var(--color-background);
}
.main__block {
    background-color: var(--color-background);
    margin: 0px 64.3333px;
    padding: 80px 15px 60px;
}

.block__beer {
    padding: 0px 15px 0px 15px;
    width: 300px;
    height: 213.66px;
}

.footer-logo-img{
    background-color: var(--color-background);
    width: 176px;
    height: 35.73px;
    margin: 15px 0px 0px;
}

.text__footer {
    color: #9D9D9D;
    font-size: 15px;
    font-family: var(--open-sans-serif-font);
    width: 263.14px;
    height: 68.67px;
    margin: 15px 0px 0px;
}

.footer__socials {
    margin: 15px 0px 0px;
}
