 .container__fliet {
     background-color: var(--color-background-secondary);
 }

 .container__header {
     max-width: 1170px;
     height: 116px;
     margin: auto;
 }


 .header__nav {
     padding: 39px 36px;
     background-color: var(--color-background-secondary);
     display: flex;
     justify-content: space-between;
     align-items: center;

 }

 .header__logo {
     max-width: 183.9px;
     height: 39.86px;
 }

 .header__burger-menu {
     display: none;
 }

 .header__menu {
     margin: 0 10px 0 0;
     width: 67.8;
     font-weight: 400;
     display: flex;
     gap: 42px;
 }

 .header__menu-link {
     color: var(--color-on-primary);
     font-family: var(--open-sans-serif-font);
     font-size: 16px;
 }

 .header__menu-item::after {
     content: "";
     height: 2px;
     display: block;
     margin-top: 7px;
     /* Товщина лінії */
     background: white;
     /* Колір лінії */
     transform: scaleX(0);
     transform-origin: left;
     transition: 0.5s;
 }

 .header__menu-item:hover::after {
     transform: scaleX(1);
 }

 .header__contacts {
     display: flex;
     gap: 15px;
 }

 .border_2yy {
     fill: var(--color-primary)
 }

 .border_2yy:hover {
     fill: var(--color-background-secondary);

 }

 .logo_2gS {
     fill: var(--color-primary);
 }

 .logo_2gS:hover {
     fill: var(--color-background-secondary);

 }

 .header__contact-icon-3 {
     background-color: var(--color-primary);
 }

 .header__contact-icon-3:hover {
     background-color: var(--color-background-secondary);
 }

 .header__contact-icon:hover {
     fill: var(--color-primary);
     transition: 0.5s;
 }

 .header__contact-icon:hover .logo_2gS {
     fill: var(--color-background-secondary);
     transition: 0.5s;
 }

 @media(width <=990px) {
     .header__menu {
         display: none;
     }

     .header__contacts {
         display: none;
     }

     .header__burger-menu {
         display: block;
         background-color: var(--color-background-secondary);
         cursor: pointer;
         width: 24px;
         height: 16px;
     }

     .header__burger-line:nth-child(1) {
         transform: translateY(-5px);
     }

     .header__burger-line:nth-child(2) {
        transform: translateY(0);
    }

     .header__burger-line:nth-child(3) {
         transform: translateY(5px);
     }
 }

 .header__burger-line {
     display: block;
     background-color: var(--color-on-primary);
     width: 24px;
     height: 2px;
 }