.offer {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 991px) {
        flex-direction: row;
    
    }
}
.section-header-hightlight {
    font-family: var(--teko-font);
    font-size: 40px;
    color: var(--color-primary);
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;

    @media (min-width:768px) {
        font-size: 51px;
    }

    @media (min-width:992px) {
        font-size: 62px;
    }
}

.offer__icon {
    width: 51,26px;
}