.friday-deal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
    padding-top: 65px;
    padding-bottom: 90px;
  }

.friday-deal__content {
    background-image: var(--background-secondary);
    box-sizing: border-box;
    justify-content: flex-start;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    text-align: center;
    width: 272px;
    height: 474px;
    padding: 51px 47px;
}

.friday-deal__discount-label {
   text-align: center;
   font-family: var(--shadow-into-light-font);
   font-size: 14px;
   color: var(--color-on-secondary);
   margin-bottom: 12px;
   line-height: 19.6px;
}

.friday-deal__title {
    text-align: center;
    text-transform: uppercase;
    font-family: var(--teko-font);
    font-size: 62px;
    font-weight: 400;
    color: var(--color-background);
    line-height: 1;
    margin-bottom: 24px;
}

.friday-deal__description {
    text-align: center;
    font-family: var(--open-sans-serif-font);
    font-size: 19px;
    font-weight: 500;
    color: var(--color-on-secondary);
    line-height: 1.4;
    margin-bottom: 32px;
}

.friday-deal__button {
    background-color: var(--color-background);
    color: var(--color-on-primary);
    font-family: var(--open-sans-serif-font);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 21px 40px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

