.beer-carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 65px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 320px;
    overflow: hidden;

    @media (min-width:768px) {
        padding-top: 105px;
        padding-left: 32px;
        padding-right: 32px;
    }

    @media (min-width:992px) {
        padding-top: 120px;
        padding-left: 40px;
        padding-right: 40px;
    }

    @media (min-width:1200px) {
        padding-left: 15px;
        padding-right: 15px;
    }

    .beer-carousel__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 45px;
        position: relative;

        @media (min-width: 992px) {
            margin-top: 50px;
        }

        .beer-carousel__button {
            width: 24px;
            height: 24px;
            background-color: var(--color-slider-button);
            border: none;
            border-radius: 24px;
            justify-content: center;
            align-items: center;
            position: absolute;
            transition: transform 0.2s ease;

            @media (min-width: 768px) {
                width: 34px;
                height: 34px;
                border-radius: 34px;
            }

            @media (min-width: 1200px) {
                background-color: transparent;
            }

            .beer-carousel__button-svg {
                width: 14px;
                height: 14px;

                @media (min-width: 768px) {
                    width: 20px;
                    height: 20px;
                }

                @media (min-width: 1200px) {
                    width: 34px;
                    height: 34px;
                    fill: var(--color-slider-button);
                }
            }

            .beer-carousel__button-svg:hover {
                transform: scale(1.1);
                @media (min-width: 1200px) {
                    fill: var(--color-slider-button-hover);
                }
            }

            .beer-carousel__button-svg:active {
                transform: scale(0.9);
            }
        }

        .beer-carousel__button--prev {
            transform: scaleX(-1);
            left: 0;
            @media (min-width: 1200px) {
                left: -20px;
            }
        }

        .beer-carousel__button--next {
            right: 0;
            @media (min-width: 1200px) {
                right: -20px;
            }
        }

        .beer-carousel__button:hover {
            background-color: var(--color-slider-button-hover);

            @media (min-width: 1200px) {
                background-color: transparent;
            }
        }

        .beer-carousel__belt {
            overflow: hidden;
            max-width: 100%;
            display: flex;
            flex-direction: row;
            /* justify-content: center; */

            .beer-carousel__card {
                display: flex;
                flex: 1;
                flex-direction: column;
                min-width: 100%;
                max-width: 100%;
                padding: 0 15px;

                @media (min-width: 768px) {
                    flex-direction: row;
                    min-width: 50%;
                }

                .beer-carousel__card-img-wrap {
                    min-width: 50%;
                    max-width: 175px;
                    width: 100%;
                    /* max-height: 350px; */
                    align-self: center;

                    @media (min-width: 768px) {
                        min-width: 160px;
                        max-width: 300px;
                        /* max-height: 450px; */
                    }

                    @media (min-width: 992px) {
                        min-width: 210px;
                        max-width: 300px;
                        /* max-height: 500px; */
                    }

                    .beer-carousel__card-img {
                        width: 100%;
                        height: auto;
                        max-height: 325px;
                        object-fit: contain;
    
                        @media (min-width: 768px) {
                            max-height: 325px;
                        }

                        @media (min-width: 998px) {
                            max-height: 420px;
                        }
    
                        @media (min-width: 1200px) {
                            max-height: 465px;
                        }
                    }
                }

                .beer-carousel__card-description {
                    padding: 47px 27px;
                    min-width: 50%;
                    max-height: 600px;
                    overflow-wrap: break-word;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    @media (min-width:768px) {
                        padding: 58px 28px;
                        max-height: 600px;
                    }

                    @media (min-width:992px) {
                        padding: 80px 30px;
                        max-height: 500px;
                    }

                    .beer-carousel__card-name {
                        font-family: var(--teko-font);
                        font-size: 38px;
                        color: var(--color-on-primary);

                        @media (min-width:768px) {
                            font-size: 46px;
                        }

                        @media (min-width:992px) {
                            font-size: 54px;
                        }
                    }

                    .beer-carousel__card-recommendation,
                    .beer-carousel__card-abv,
                    .beer-carousel__card-ibu,
                    .beer-carousel__card-flavour {
                        font-family: var(--open-sans-serif-font);
                        font-size: 17px;
                        font-stretch: normal;
                        letter-spacing: normal;
                        line-height: 25.5px;
                        text-align: left;
                        color: var(--color-text-body);
                    }

                    .beer-carousel__card-recommendation {
                        padding-top: 25px;
                    }

                    .beer-carousel__card-abv {
                        margin-top: 10px;
                        color: var(--color-on-primary)
                    }

                    .beer-carousel__card-ibu {
                        color: var(--color-on-primary)
                    }

                    .beer-carousel__card-flavour {
                        color: var(--color-on-primary);
                        margin-top: 23px;
                    }


                }
            }
        }
    }


}