.latest-posts {
    padding: 60px 0 90px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.latest-posts__intro {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-posts__subtitle {
    font-family: var(--shadow-into-light-font);
    font-size: 14px;
    font-weight: 400;
    color: var(--color-primary);
    line-height: 19.6px;
    width: fit-content;
}

.latest-posts__title {
    font-family: var(--teko-font);
    font-size: 40px;
    font-weight: 400;
    color: var(--color-on-primary);
    margin-top: 20px;
    text-transform: uppercase;
    line-height: 40px;
    width: fit-content;
}

.latest-posts__description {
    text-align: center;
    width: fit-content;
    font-family: var(--open-sans-serif-font);
    font-size: 19px;
    font-weight: 500;
    color: var(--color-on-section-description);
    line-height: 28px;
    margin-top: 25px;
}

.latest-posts__list {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.latest-posts__item {
    flex-direction: column;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 50px;
}

.latest-posts__image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.latest-posts__category {
    margin-top: 20px;
    color: var(--color-primary);
    font-family: var(--open-sans-serif-font);
    font-size: 14px;
    line-height: 22.4px;
    font-weight: 600;
    width: fit-content;
}

.latest-posts__heading {
    margin-top: 20px;
    font-family: var(--teko-font);
    font-size: 26px;
    color: var(--color-on-primary);
    text-transform: uppercase;
    letter-spacing: normal;
    line-height: 28.6px;
    font-weight: 400;
    width: fit-content;
}

.latest-posts__text {
    margin-top: 20px;
    font-family: var(--open-sans-serif-font);
    font-size: 17px;
    color: var(--color-text-body);
    line-height: 25.5px;
    font-weight: 400;
    width: fit-content;
}

.latest-posts__button {
    width: 155px;
    margin-top: 35px;
    padding: 21px 40px;
    border: 1px solid var(--color-on-primary);
    color: var(--color-on-primary);
    font-size: 12px;
    font-weight: 700;
    line-height: 13px;
    text-transform: uppercase;
    font-family: var(--open-sans-serif-font);
    text-align: center;
}

.latest-posts__button:hover {
    background-color: var(--color-on-primary);
    color: var(--color-background);
}

@media (min-width: 768px) {
    .latest-posts {
        padding: 60px 0 110px 0;
        max-width: 1200px;
        margin: 0 auto;
    }

    .latest-posts__intro {
        padding: 0 32px;
    }

    .latest-posts__subtitle {
        font-size: 21px;
        line-height: 25px;
    }

    .latest-posts__title {
        font-size: 51px;
        line-height: 51px;
    }

    .latest-posts__description {
        font-size: 19px;
        line-height: 28px;
    }

    .latest-posts__list {
        padding: 0 32px;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 45px;
    }

    .latest-posts__item {
        padding: 0;
        margin-top: 0;
    }


    .latest-posts__heading {
        font-size: 32px;
    }
}

@media (min-width: 992px) {
    .latest-posts {
        padding: 60px 15px 130px 15px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .latest-posts__intro {
        padding: 0 15px;
    }

    .latest-posts__subtitle {
        font-size: 28px;
        line-height: 39px;
    }

    .latest-posts__title {
        font-size: 62px;
        line-height: 62px;
    }

    .latest-posts__description {
        font-size: 19px;
        line-height: 28px;
    }

    .latest-posts__list {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, 370px);
        gap: 30px;
        margin-top: 50px;
        justify-content: center;
    }

    .latest-posts__item {
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    .latest-posts__image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .latest-posts__heading {
        font-size: 32px;
    }
}