.bar-menu {
    background-image: var(--background-primary);
    padding-top: 120px;
    padding-bottom: 30px;

}
.bar-menu__subtitle {
    color: var(--color-primary);
    font-family: var(--shadow-into-light-font);
    font-size: 28px;
    text-align: center;
}

.bar-menu__title {
    color: var(--color-on-primary);
    font-family: var(--teko-font);
    font-size: 62px;
    text-align: center;
}

.bar-menu__description {
    color: var(--color-on-section-description);
    font-family: var(--open-sans-serif-font);
    font-size: 19px;
    text-align: center;
}

.bar-menu__category-title {
    color: var(--color-primary);
    font-family: var(--teko-font);
    font-size: 38px;
}

.bar-menu__item-name {
    color: var(--color-on-primary);
    font-family: var(--teko-font);
    font-size: 38px;
    white-space: nowrap;
}

.bar-menu__item-description {
    color: var(--color-on-section-description);
    font-family: var(--open-sans-serif-font);
    font-size: 17px;
}

.bar-menu__item-price {
    color: var(--color-primary);
    font-family: var(--teko-font);
    font-size: 38px;
}

.bar-menu__list {
    padding: 0;
}

.line {
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin-top: 20px; 
    flex-grow: 1;

}

.bar-menu__item-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container {
   max-width: 1200; 
   margin: auto;
}

.col-md-6{
    padding-left: 30px;
    padding-right: 30px;
}