.food-menu {
    background-color: #150e0e;
    padding-top: 30px;
    padding-bottom: 90px;
    position: relative;
    min-width: 320px;
}
.food-menu__subtitle {
    color: #FFC123;
    font-family: Shadows Into Light;
    font-size: 14px;
    text-align: center;
}
.food-menu__title {
    color: #FFFFFF;
    font-family: Teko, sans-serif;
    font-size: 40px;
    text-align: center;
}
.food-menu__discription {
    color: #CCCCCC;
    font-family: Open Sans, sans-serif;
    font-size: 19px;
    text-align: center;
}
.food-menu__category-title {
    color: #FFC123;
    font-family: Teco, sans-serif;
    font-size: 26px;
}
.food-menu__item-name {
    color: #FFFFFF;
    font-family: Teco, sans-serif;
    font-size: 26px;
}
.food-menu__item-price {
    color: #FFC123;
    font-family: Teco, sans-serif;
    font-size: 26px;
}
.food-menu__item-description {
    color: #9D9D9D;
    font-family: Open Sans, sans-serif;
    font-size: 17px;
}
