.vegan-menu {
    background-image: var(--background-primary);
    padding-top: 120px;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

@media (max-width: 768px) {
    .vegan-menu__categories {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .vegan-menu__category {
        width: 90%;
        max-width: 500px;
    }
}

.vegan-menu__item-header {
    display: flex;
    justify-content: space-between;
}

.vegan-menu__item-header-wrap {
    margin: 40px 0px;
}

.vegan-menu__category-title {
    padding-left: 28px;
}

.vegan-menu__categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding-top: 30px;
}

.vegan-menu__title {
    color: var(--color-primary);
    font-family: var(--shadow-into-light-font);
    font-size: 28px;
    text-align: center;
}

.vegan-menu__subtitle {
    color: var(--color-on-section-description);
    font-family: var(--open-sans-serif-font);
    font-size: 19px;
    text-align: center;
}

.vegan-menu__category-title,
.vegan-menu__item-price {
    color: var(--color-primary);
    font-family: var(--teko-font);
    font-size: 38px;
}

.vegan-menu__item-title {
    color: var(--color-on-primary);
    font-family: var(--teko-font);
    font-size: 38px;
}

.vegan-menu__item-description {
    color: var(--color-text-body);
    font-family: var(--open-sans-serif-font);
    font-size: 17px;
}