<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link
      rel="shortcut icon"
      href="image/beer-tab-logo.png"
      type="image/x-icon"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <main>
      <!-- Meet Our Team. Ivan Popov -->
      <section>
        <div
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.meet-our-team.partial.html"
        ></div>
      </section>
      <!-- End Ivan Popov -->
        <!--Diana Dubenok-->
      <footer class="footer">
        <nav class="footer__nav"
          data-hx-trigger="load" 
          data-hx-swap="outerHTML"
          data-hx-get="global.footer-nav.partial.html">
        </nav>
      </footer>
      <!-- End Diana Dubenok-->
    </main>
  </body>
</html>
