<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beer Pub</title>
    <link rel="shortcut icon" href="image/beer-tab-logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="css/index.css">

    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
</head>

<body>
    <!--Anastasiia Horiela-->
    <header>
        <nav class="header__nav" data-hx-trigger="load" data-hx-swap="outerHTML"
            data-hx-get="global.header-nav.partial.html" style="background-color: #111111;"></nav>
        <div class="header__hero-contacts" data-hx-trigger="load" data-hx-swap="outerHTML"
            data-hx-get="contacts.header-hero.partial.html"></div>
    </header>

    <main class="contacts">
        <!-- End Anastasiia Horiela-->
        <!-- Alona Zahychenko-->
        <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="contacts.info.partial.html"></div>
        <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="contacts.map.form.partial.html"></div>
    </main>
    <!-- Alona Zahychenko-->

    <!--Diana Dubenok-->
    <footer class="footer" data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.footer-nav.partial.html">
    </footer>
    <!-- Alona Zahychenko-->
    <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="contacts.reserve-done.partial.html"></div>
    <!-- Alona Zahychenko-->
    <!--Anastasiia Horiela-->
    <script type="module" src="js/index.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqXObrcmp1IXs_aUnTLo459Ny8iJWqRzk" async
        defer></script>
    <!-- End Anastasiia Horiela-->
</body>
<!-- End Diana Dubenok-->