<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Beer Pub</title>
  <link rel="shortcut icon" href="image/beer-tab-logo.png" type="image/x-icon" />
  <link rel="stylesheet" href="css/index.css">
  <script src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"></script>
</head>

<body>
  <link rel="shortcut icon" href="image/beer-tab-logo.png" type="image/x-icon">
  <script src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <nav class="header__nav" data-hx-trigger="load" data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html" style="background-color: #111111;"></nav>
      <div class="header__hero" data-hx-trigger="load" data-hx-swap="outerHTML"
        data-hx-get="index.header-hero.partial.html"></div>
    </header>
    <main>
      <!--Tetiana Hazzaieva-->
      <section>
        <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.download-menu.partial.html"></div>
      </section>
      <!--End Tetiana Hazzaieva-->

      <!--Olga Balabukh-->
      <section>
        <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.cold.beer.partial.html"></div>
      </section>
      <!--End Olga Balabukh-->

      <!--Olga Buhanska-->
      <section>
        <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.friday-deal.partial.html">
        </div>
      </section>
      <!--End Olga Buhanska-->

      <!-- Pavlo Krypskyi -->
      <section>
        <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.about-beer.partial.html"></div>
        <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.testimonials.partial.html"></div>
      </section>
      <!-- End Pavlo Krypskyi -->

      <!-- Serhii Kravchenko -->
      <section>
        <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.latest-posts.partial.html"></div>
      </section>
      <!-- End Serhii Kravchenko -->

      <!-- Oleksandr Lazarets -->
      <section>
        <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.every.friday.partial.html"></div>
      </section>
      <!-- End Oleksandr Lazarets -->

      <!--Semen Levchenko-->
      <section>
        <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.beer-carousel.partial.html"></div>
      </section>
      <!--End Semen Levchenko-->

      <!--Olga Buhanska-->
      <section>
        <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.friday-deal.partial.html">
        </div>
      </section>
      <!--End Olga Buhanska-->

      <!--Ivan Budniak-->
      <section>
        <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.best-dishes.partial.html"></div>
      </section>
      <!--End Ivan Budniak-->

      <!--Diana Dubenok-->
      <footer class="footer" data-hx-trigger="load" data-hx-swap="outerHTML"
        data-hx-get="global.footer-nav.partial.html">
      </footer>
      <!-- End Diana Dubenok-->
    </main>
  </body>

</html>